{% extends "base.html" %}
{% load static %}
{% load account %}
{% block head %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
{% endblock %}
{% block content %}
	<h1>HOME</h1>

	A {% user_display user %}

	<div>
		{% verbatim %}
		<div id="app">
			{{ message }}
		</div>
		{% endverbatim %}
	</div>

	<script>
		jQuery(function() {
			console.log('Doom!');
			window.app = new Vue({
				el: '#app',
				data: {
					message: 'Hello Vue!'
				}
			});
		});
	</script>

{% endblock %}