/* inspiration http://webapplayers.com/inspinia_admin-v2.7.1/ */

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #F3F3F4;
    font-weight: 300;
    font-size: 14px;
}
h1 {
	font-size: 24px;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: 300;
}
.c-hidden {
    display: none;
}
.c-right {
	text-align: right;
}
.c-header {
	padding: 10px;
}
.c-site-title {
	font-size: 20px;
	vertical-align: middle;
}
.c-sub-header {
	padding: 5px 10px;
	background-color: #fff;
}
.c-logo {
	height: 40px;
	display: inline-block;
	padding-right: 10px;
}
.c-content {
	min-height: 400px;
}
.c-footer {
	background-color: #fff;
	padding: 10px;
	text-align: center;
}

.c-panel {
	background-color: #fff;
	margin: auto;
	font-size: 14px;
	color: #676a6c;
	margin-bottom: 20px;
}

.c-panel-header {
	padding: 8px 20px;
	color: #3e3e3e;
	font-size: 19px;
	font-weight: 100;
	background-color: #00bcd4;
	color: #fff;
}

.c-panel-body.c-panel-body-padding {
	padding: 15px 20px;
}

.c-auth-primary-actions {
	text-align: right;
}

.c-auth-secondary-actions {
	text-align: right;
	margin-top: 15px;
	font-size: 12px;
}
.slds-form-element {
	margin-bottom: 10px;
}